<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">
{{ else }}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
{{ end }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/components.css">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">