{{ if ne .Paginator.TotalPages 1 }}
  {{ $currentPage := .Paginator.PageNumber }}
  <nav>
    <ul class="pager">
      {{ if .Paginator.HasPrev }}
        <li>
          <a href="{{ .Paginator.Prev.URL }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {{ end }}
      {{ range .Paginator.Pagers }}
        <li {{ if eq $currentPage .PageNumber }}class="active"{{ end }}>
          <a href="{{ .URL }}">{{ .PageNumber }}</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li>
          <a href="{{ .Paginator.Next.URL }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>
{{end}}
