<div class="col-md-4 mat40">
  <div class="well">
    <h3>Profile</h3>
    <p>I was a mark-up engineer at a small company in Aichi prefecture before moving to Tokyo to further my career. Now I work as front-end engineer.<br>
      I've since worked writing JavaScript, CSS and HTML.</p>
    <p>Specialities: HTML, CSS, JavaScript</p>
  </div>

  <div class="well">
    <h3>Social</h3>
    <ul class="list-unstyled">
      <li><a href="https://github.com/kzhrk"><span class="fa fa-lg fa-github mar10"></span>GitHub</a></li>
      <li><a href="https://facebook.com/kzhrk"><span class="fa fa-lg fa-facebook-official mar10"></span>facebook</a></li>
      <li><a href="https://twitter.com/kzhrk0430"><span class="fa fa-lg fa-twitter mar10"></span>Twitter</a></li>
    </ul>
  </div>
</div>
