<!doctype html>
<html lang="ja">
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <h1 class="page-header">
            <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a>
          </h1>
          {{ range (.Paginator).Pages }}
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ .Date.Format "2006-01-02" }}</p>
            <hr>
          {{ end }}

          {{ partial "pager.html" . }}
        </div>

        {{ partial "side.html" . }}
      </div>
      <!-- /.row -->

      <hr>

      {{ partial "footer.html" . }}
    </div>
    <!-- /.container -->

    {{ partial "script.html" . }}

  </body>
</html>
