<!doctype html>
<html lang="ja">
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    <div class="container">
      {{ partial "header.html" . }}

      <main class="main">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
        {{ range $paginator.Pages }}
        <section class="post">
          <p><span class="glyphicon glyphicon-time"></span> Posted on {{ .Date.Format "2006-01-02" }}</p>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        </section>
        {{ end }}

        {{ partial "pager.html" . }}
      </main>

      {{ partial "footer.html" . }}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>
