.header {
  h1 {
    margin-top: 0;
  }
}
.container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 40px;
  background-color: #fff;
  box-sizing: border-box;
}

.post {
  margin-top: 5rem;
  h2 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.pager {
  padding-left: 0;
  list-style: none;
  text-align: left;
  letter-spacing: -0.3rem;
  li {
    display: inline-block;
    margin-left: 0.5rem;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      font-weight: bold;
    }
  }
  a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #eee;
  }
}

.footer {
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  address {
    text-align: center;
    font-size: 1.4rem;
  }
}
