name: lint

on:
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/workflows/setup
      - name: lint
        run: pnpm lint
