name: test

# テストファイルがないのでスキップ
# on:
#   pull_request:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/workflows/setup
      - name: test
        run: pnpm test
